<%- include('../parts/head', {bot, user, path}) %>
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9050850999194182"
     crossorigin="anonymous"></script>
</head>
<title>Bug Report</title>
<style>
strong {
color: var(--body-text)!important;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
        <center>
            <iframe src="(Add Your Own Google Forum Here... Example: https://docs.google.com/forms/d/e/1FAIpQLScD1SmMqhdZoM5fWGXVg09Lccg6qvDHg9oMeY3PTJ30DSFbOw/viewform?embedded=true)" width="640" height="1413" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </center>
        </div>
    </div>
</div>

<%- include('../parts/foot') %>
