<%- include('parts/head', {bot, user, path}) %>
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<style>
  h1 {
    color: #fFf;
  }
  .background {
    position: relative;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
<div class="container">
    <h3 class="mt-6" style="color: #fff;">
        <i class="fad fa-handshake"></i> Partners
        </h3>
        <div class="vcodes_divider"></div>
<div class="columns is-multiline is-desktop is-variable is-7 mt-3 pt-5">

            <div class="column is-3 mb-5">    
                <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                  <div>
                    <img draggable="false" onerror="imgError(this);" alt="" src="https://codeshare.xyz/public/img/logo.png" class="is-pulled-left cardvcodesserverIMG z">
                  </div>
                  
                  <div class="is-pulled-right is-inline-block">
                     <a translate="no" href="/user/615029465726320654" class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp;Umut#6070</a>
                     </div>
                   <br><br><br>
                  <p translate="no" class="cardvcodesbotName has-text-white mt-2">
                    Code Share
                    <a data-tooltip="Partner Server"
                    data-tooltip-location="top"><i class="fad fa-handshake has-text-primary"></i></a>
                </p>   
                  <p style="margin-top: -10px;" class="cardvcodesbotDesc">The right place to share your own personal codes and find the code you are looking for..</p>
                  <center>
		  <br><br>
                  <div class="cardvcodesbotButtons">
                      <a href="https://codeshare.xyz/" style="padding: 5px 20px;" class="btn btn-card"><i class="fad fa-globe"></i>&nbsp;Website</a>
                      <br><br>

                     </div>
                 </center>
                </div>
            </div>
         </div>
</div>
<br><br><br><br>
<%- include('parts/foot') %>