<br><br><br>
<!-- META TAGS -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Don't you want to add and expand your Discord bots to reach more audiences? Here vCodes are here for you. You can add your Discord bots and get nice codes for your bot from the code sharing section.">
<title>Discord Bots | Discord Codes</title>
<link rel="canonical" href="https://vcodes.xyz/">
<meta name="publisher" content="2021, vCodes" />
<meta property="title" content="vCodes | Discord Bots - Codes">
<meta name="robots" content="noindex,nofollow">
<meta name="author" content="Void Development & Claudette"> <!-- MUST STAY -->
<meta name="generator" content="VoidDevs"> <!-- MUST STAY -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="vcodes.xyz">
<meta name="twitter:creator" content="Claudette">
<meta name="twitter:title" content="vCodes | Discord Bots">
<meta name="twitter:description" content="Add your Discord bot now and observe the progress on your bot or get the code for your bot and watch your bot expand.">
<meta name="twitter:image" content="https://img.devsforum.net/tr/img/e8T8H1.png">

<!-- DISCORD META -->
<meta property="og:url" content="/">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:title" content="vCodes | Discord Bots">
<meta name="theme-color" content="#7289da">
<meta property="og:description" content="Add your Discord bot now and observe the progress on your bot or get the code for your bot and watch your bot expand.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://img.devsforum.net/tr/img/c5J1Z10.png">
</head>
<!-- META TAGS -->


<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
<script data-ad-client="ca-pub-1947780170606123" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <meta name='dmca-site-verification' content='MW1CZHIrT0FpWGRWaVB0WVJXVFpjQT090' />
<script data-ad-client="ca-pub-1947780170606123" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../css/style.css">
<script src="../../js/style.js"></script>
<link rel="stylesheet" href="https://codemirror.net/addon/hint/show-hint.css">
<script src="https://codemirror.net/lib/codemirror.js"></script>
<script src="https://codemirror.net/addon/hint/show-hint.js"></script>
<script src="https://codemirror.net/addon/hint/javascript-hint.js"></script>
<script src="https://codemirror.net/mode/javascript/javascript.js"></script>
<script src="https://codemirror.net/mode/markdown/markdown.js"></script>
<script src="https://wmcmurray.github.io/just-detect-adblock/bundle.umd.js"></script>
<!-- <script>
    justDetectAdblock.detectAnyAdblocker().then(function(detected) {
      if(detected){
    Swal.fire({
     icon: 'warning',
     title: 'Hey!',
     closeOnConfirm: false,
     showCloseButton: false,
     showCancelButton: false,
     allowOutsideClick: false,
     showConfirmButton: false,
     focusConfirm: true,
     text: "Ad blocker detected, please turn off ad blocker to support us.",
     footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
    })
    }
    });
</script> -->
<!-- SCRIPTS -->




<svg style="margin-bottom: -9px; pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
    <defs>
        <style>
            .a {
                fill: none;
            }
            
            .be {
                clip-path: url(#a);
            }
            
            .ce,
            .de {
                fill: #23272a;
            }
            
            .de {
                opacity: 0.5;
                isolation: isolate;
            }
        </style>
        <clipPath id="a">
            <rect class="a" width="1920" height="75"></rect>
        </clipPath>
    </defs>
    <title>wave</title>
    <g class="be">
        <path class="ce" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
    </g>
    <g class="be">
        <path class="de" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
    </g>
    <g class="be">
        <path class="de" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
    </g>
    <g class="be">
        <path class="de" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
    </g>
</svg>
            <footer class="bg-vcodes">
                <div class="container mt-2">
                  <div class="row py-4">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="https://img.devsforum.net/tr/img/w1Z8N6.png" alt="" width="180" class="mb-3">
                      <ul style="margin-top: -10%;" class="list-inline mt-4">
                        <li class="list-inline-item"><a rel="nofollow" href="https://twitter.com/VoidDevs" target="_blank" title="twitter"><i class="fab fa-twitter twitter"></i></a></li>
            <li class="list-inline-item"><a rel="nofollow" href="https://vcodes.xyz/dc" target="_blank" title="discord"><i class="fab fa-discord discord"></i></a></li>
            <li class="list-inline-item"><a rel="nofollow" href="https://www.youtube.com/VoidDevs" target="_blank" title="youtube"><i class="fab fa-youtube youtube"></i></a></li>
            <li class="list-inline-item"><a rel="nofollow" href="https://www.instagram.com/VoidDevs" target="_blank" title="instagram"><i class="fab fa-instagram instagram"></i></a></li>
            <li class="list-inline-item"><a rel="nofollow" href="https://github.com/vcodes-xyz" target="_blank" title="github"><i class="fab fa-github github"></i></a></li>
            <li class="list-inline-item"><a rel="nofollow" href="https://www.patreon.com/voiddevelopment" target="_blank" title="patreon"><i class="fab fa-patreon patreon"></i></a></li>
                      </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                      <p class="is-size-6 text-uppercase font-weight-bold mb-4">Menu</p>
                      <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a title="vCodes" href="/" class="text-muted">Home</a></li>
                        <li class="mb-2"><a title="vCodes" href="/codes" class="text-muted">Codes</a></li>
                        <li class="mb-2"><a title="vCodes" href="/addbot" class="text-muted">Add Bot</a></li>
                        <li class="mb-2"><a title="vCodes" href="/team" class="text-muted">Team</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                      <p class="is-size-6 text-uppercase font-weight-bold mb-4">EXTRAS</p>
                      <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a title="vCodes" rel="nofollow" href="https://docs.vcodes.xyz" class="text-muted">API Docs</a></li>
                        <li class="mb-2"><a title="vCodes" href="/partners" class="text-muted">Partners</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            
                <!-- Copyrights -->
                <div class="bg-vcodes p4">
                  <div class="container">
                    <p class="text-muted mb-0 py-2">vCodes.xyz 2021 &copy All rights reserved.</p>
                    <p class="text-muted mb-0">We do not affiliated with &nbsp;<i class="fab fa-discord"></i>
                        <br><br>
                    </p>
                  </div>
                </div>
              </footer>
<script>
    console.log("%cBEKLE !!!","color: red; font-size: 60px");
    console.log("%cNe yaptığını bilmiyorsan burayı hemen kapat!","color: green; font-size: 20px");
</script>
<!-- SCRIPTS -->
<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
</style>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
          tippy('.tippy', {arrow: true,animation: 'scale',});
    </script>
</html>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
  lineNumbers: true,
  extraKeys: {"Ctrl-Space": "autocomplete"},
  mode: {name: "javascript", globalVars: true}
});

if (typeof Promise !== "undefined") {
  var comp = [
    ["here", "hither"],
    ["asynchronous", "nonsynchronous"],
    ["completion", "achievement", "conclusion", "culmination", "expirations"],
    ["hinting", "advise", "broach", "imply"],
    ["function","action"],
    ["provide", "add", "bring", "give"],
    ["synonyms", "equivalents"],
    ["words", "token"],
    ["each", "every"],
  ]

  function synonyms(cm, option) {
    return new Promise(function(accept) {
      setTimeout(function() {
        var cursor = cm.getCursor(), line = cm.getLine(cursor.line)
        var start = cursor.ch, end = cursor.ch
        while (start && /\w/.test(line.charAt(start - 1))) --start
        while (end < line.length && /\w/.test(line.charAt(end))) ++end
        var word = line.slice(start, end).toLowerCase()
        for (var i = 0; i < comp.length; i++) if (comp[i].indexOf(word) != -1)
          return accept({list: comp[i],
                         from: CodeMirror.Pos(cursor.line, start),
                         to: CodeMirror.Pos(cursor.line, end)})
        return accept(null)
      }, 100)
    })
  }

  var editor2 = CodeMirror.fromTextArea(document.getElementById("synonyms"), {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    lineNumbers: true,
    lineWrapping: true,
    mode: "text/x-markdown",
    hintOptions: {hint: synonyms}
  })
}
</script>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("commands"), {
  lineNumbers: true,
  extraKeys: {"Ctrl-Space": "autocomplete"},
  mode: {name: "javascript", globalVars: true}
});

if (typeof Promise !== "undefined") {
  var comp = [
    ["here", "hither"],
    ["asynchronous", "nonsynchronous"],
    ["completion", "achievement", "conclusion", "culmination", "expirations"],
    ["hinting", "advise", "broach", "imply"],
    ["function","action"],
    ["provide", "add", "bring", "give"],
    ["synonyms", "equivalents"],
    ["words", "token"],
    ["each", "every"],
  ]

  function synonyms(cm, option) {
    return new Promise(function(accept) {
      setTimeout(function() {
        var cursor = cm.getCursor(), line = cm.getLine(cursor.line)
        var start = cursor.ch, end = cursor.ch
        while (start && /\w/.test(line.charAt(start - 1))) --start
        while (end < line.length && /\w/.test(line.charAt(end))) ++end
        var word = line.slice(start, end).toLowerCase()
        for (var i = 0; i < comp.length; i++) if (comp[i].indexOf(word) != -1)
          return accept({list: comp[i],
                         from: CodeMirror.Pos(cursor.line, start),
                         to: CodeMirror.Pos(cursor.line, end)})
        return accept(null)
      }, 100)
    })
  }

  var editor2 = CodeMirror.fromTextArea(document.getElementById("synonyms"), {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    lineNumbers: true,
    lineWrapping: true,
    mode: "text/x-markdown",
    hintOptions: {hint: synonyms}
  })
}  
</script>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("main"), {
  lineNumbers: true,
  extraKeys: {"Ctrl-Space": "autocomplete"},
  mode: {name: "javascript", globalVars: true}
});

if (typeof Promise !== "undefined") {
  var comp = [
    ["here", "hither"],
    ["asynchronous", "nonsynchronous"],
    ["completion", "achievement", "conclusion", "culmination", "expirations"],
    ["hinting", "advise", "broach", "imply"],
    ["function","action"],
    ["provide", "add", "bring", "give"],
    ["synonyms", "equivalents"],
    ["words", "token"],
    ["each", "every"],
  ]

  function synonyms(cm, option) {
    return new Promise(function(accept) {
      setTimeout(function() {
        var cursor = cm.getCursor(), line = cm.getLine(cursor.line)
        var start = cursor.ch, end = cursor.ch
        while (start && /\w/.test(line.charAt(start - 1))) --start
        while (end < line.length && /\w/.test(line.charAt(end))) ++end
        var word = line.slice(start, end).toLowerCase()
        for (var i = 0; i < comp.length; i++) if (comp[i].indexOf(word) != -1)
          return accept({list: comp[i],
                         from: CodeMirror.Pos(cursor.line, start),
                         to: CodeMirror.Pos(cursor.line, end)})
        return accept(null)
      }, 100)
    })
  }

  var editor2 = CodeMirror.fromTextArea(document.getElementById("synonyms"), {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    lineNumbers: true,
    lineWrapping: true,
    mode: "text/x-markdown",
    hintOptions: {hint: synonyms}
  })
}  
</script>

<script>
$('.submenu .dropdown-menu .animate .slideIn a .dropdown-item').on('touchstart', function(e) {
    e.preventDefault();
    window.location.href = $(this).attr('href');
})
$('.dropdown-menu .submenu > a:not(a[href="#"])').on('click', function() {
    self.location = $(this).attr('href');
});
</script>

<script>
var editor = CodeMirror.fromTextArea(document.getElementById("komutlar"), {
  lineNumbers: true,
  extraKeys: {"Ctrl-Space": "autocomplete"},
  mode: {name: "javascript", globalVars: true}
});

if (typeof Promise !== "undefined") {
  var comp = [
    ["here", "hither"],
    ["asynchronous", "nonsynchronous"],
    ["completion", "achievement", "conclusion", "culmination", "expirations"],
    ["hinting", "advise", "broach", "imply"],
    ["function","action"],
    ["provide", "add", "bring", "give"],
    ["synonyms", "equivalents"],
    ["words", "token"],
    ["each", "every"],
  ]

  function synonyms(cm, option) {
    return new Promise(function(accept) {
      setTimeout(function() {
        var cursor = cm.getCursor(), line = cm.getLine(cursor.line)
        var start = cursor.ch, end = cursor.ch
        while (start && /\w/.test(line.charAt(start - 1))) --start
        while (end < line.length && /\w/.test(line.charAt(end))) ++end
        var word = line.slice(start, end).toLowerCase()
        for (var i = 0; i < comp.length; i++) if (comp[i].indexOf(word) != -1)
          return accept({list: comp[i],
                         from: CodeMirror.Pos(cursor.line, start),
                         to: CodeMirror.Pos(cursor.line, end)})
        return accept(null)
      }, 100)
    })
  }

  var editor2 = CodeMirror.fromTextArea(document.getElementById("synonyms"), {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    lineNumbers: true,
    lineWrapping: true,
    mode: "text/x-markdown",
    hintOptions: {hint: synonyms}
  })
}  
</script>
<script>
$('.dropdown-menu .submenu > a:not(a[href="#"])').on('click', function() {
    self.location = $(this).attr('href');
});
$(document).ready(function() {
	$.fn.dataTable.ext.classes.sPageButton = 'btn btn-outline-discord-pagination';
  
  $('#tableData').DataTable({
    
    "language": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Page: _PAGE_/_PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
               "sLengthMenu": "List :  _MENU_",
    },
    "stripeClasses": [],
    "lengthMenu": [5, 10, 15, 20, 25, 30, 50, 100],
     "pageLength": 5,
  })
});
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
</div>