<br><br><br>
<!-- META TAGS -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Don't you want to add and expand your Discord bots to reach more audiences? Here vCodes are here for you. You can add your Discord bots and get nice codes for your bot from the code sharing section.">
<title>Discord Bots | Discord Codes</title>
<link rel="canonical" href="https://vcodes.xyz/">
<meta name="publisher" content="2021, vCodes" />
<meta property="title" content="vCodes | Discord Bots - Codes">
<meta name="robots" content="noindex,nofollow">
<meta name="author" content="Void Development & Claudette"> <!-- MUST STAY -->
<meta name="generator" content="VoidDevs"> <!-- MUST STAY -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="vcodes.xyz">
<meta name="twitter:creator" content="Claudette">
<meta name="twitter:title" content="vCodes | Discord Bots">
<meta name="twitter:description" content="Add your Discord bot now and observe the progress on your bot or get the code for your bot and watch your bot expand.">
<meta name="twitter:image" content="../img/logo.png">

<!-- DISCORD META -->
<meta property="og:url" content="/">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:title" content="vCodes | Discord Bots">
<meta name="theme-color" content="#7289da">
<meta property="og:description" content="Add your Discord bot now and observe the progress on your bot or get the code for your bot and watch your bot expand.">
<meta property="og:type" content="website">
<meta property="og:image" content="../img/logo.png">
</head>
<!-- META TAGS -->


<script>
    justDetectAdblock.detectAnyAdblocker().then(function(detected) {
    if(detected){
    Swal.fire({
     icon: 'warning',
     title: 'Hey!',
     closeOnConfirm: false,
     showCloseButton: false,
     showCancelButton: false,
     allowOutsideClick: false,
     showConfirmButton: false,
     focusConfirm: true,
     text: "Ad blocker detected, please turn off ad blocker to support us.",
     footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
    })
    }
    });
</script>
<!-- SCRIPTS -->

<!-- FOOTER -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://unpkg.com/@popperjs/core@2"></script>

<script src="https://unpkg.com/tippy.js@6"></script>

<script>

      tippy('.tippy', {arrow: true,animation: 'scale',});

</script>
<style>
    .footers li a, .footer-link {
        color: rgb(156, 156, 156);
    }
    .footers li a:hover, .footer-link:hover {
        color: #7289da;
    }
</style>
<section class="footers bg-vcodes text-white pt-2 pb-3">
  <div class="container pt-5">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
           <div class="footers-logo">
               <img src="../../img/logo.png" alt="Logo" style="margin-top: -8%; width:240px;">
               <div translate="no" class="bold">
                <span data-tooltip="Ping" data-tooltip-location="top">
                    <button class="btn" style="padding: 5px 15px;background-color: #2e2e2e; color: white;" >
                    <i class="fad fa-table-tennis"></i>&nbsp;<a><%= bot.ws.ping %>ms</a>
                </button>
                </span>
                <span data-tooltip="Online Users" data-tooltip-location="top">
                    <button class="btn" style="padding: 5px 15px;background-color: #2e2e2e; color: white;" >
                    <i class="fad fa-users"></i>&nbsp;<a id="connectionCount"></a>
                </button>
                </span>
               </div>
            </div>
       </div>
        <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
           <p class="uppercase bold footer-title is-size-5">Menu </p>
           <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/bots">Bots</a></li>
          <li><a href="/codes">Code Share</a></li>
          <li><a href="/uptime/links">Uptime</a></li>
         </ul>
       </div>
        <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
           <p class="uppercase bold footer-title is-size-5">Extras </p>
           <ul class="list-unstyled">
            <li><a href="https://docs.vcodes.xyz/">API Docs</a></li>
            <li>
<style type="text/css">
a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
</style>
<!-- GTranslate: https://gtranslate.io/ -->
<select class="language" onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|af">Afrikaans</option><option value="en|sq">Albanian</option><option value="en|ar">Arabic</option><option value="en|hy">Armenian</option><option value="en|az">Azerbaijani</option><option value="en|eu">Basque</option><option value="en|be">Belarusian</option><option value="en|bg">Bulgarian</option><option value="en|ca">Catalan</option><option value="en|zh-CN">Chinese (Simplified)</option><option value="en|zh-TW">Chinese (Traditional)</option><option value="en|hr">Croatian</option><option value="en|cs">Czech</option><option value="en|da">Danish</option><option value="en|nl">Dutch</option><option value="en|en">English</option><option value="en|et">Estonian</option><option value="en|tl">Filipino</option><option value="en|fi">Finnish</option><option value="en|fr">French</option><option value="en|gl">Galician</option><option value="en|ka">Georgian</option><option value="en|de">German</option><option value="en|el">Greek</option><option value="en|ht">Haitian Creole</option><option value="en|iw">Hebrew</option><option value="en|hi">Hindi</option><option value="en|hu">Hungarian</option><option value="en|is">Icelandic</option><option value="en|id">Indonesian</option><option value="en|ga">Irish</option><option value="en|it">Italian</option><option value="en|ja">Japanese</option><option value="en|ko">Korean</option><option value="en|lv">Latvian</option><option value="en|lt">Lithuanian</option><option value="en|mk">Macedonian</option><option value="en|ms">Malay</option><option value="en|mt">Maltese</option><option value="en|no">Norwegian</option><option value="en|fa">Persian</option><option value="en|pl">Polish</option><option value="en|pt">Portuguese</option><option value="en|ro">Romanian</option><option value="en|ru">Russian</option><option value="en|sr">Serbian</option><option value="en|sk">Slovak</option><option value="en|sl">Slovenian</option><option value="en|es">Spanish</option><option value="en|sw">Swahili</option><option value="en|sv">Swedish</option><option value="en|th">Thai</option><option value="en|tr">Turkish</option><option value="en|uk">Ukrainian</option><option value="en|ur">Urdu</option><option value="en|vi">Vietnamese</option><option value="en|cy">Welsh</option><option value="en|yi">Yiddish</option><option value="en|bn">Bengali</option><option value="en|bs">Bosnian</option><option value="en|ceb">Cebuano</option><option value="en|eo">Esperanto</option><option value="en|gu">Gujarati</option><option value="en|ha">Hausa</option><option value="en|hmn">Hmong</option><option value="en|ig">Igbo</option><option value="en|jw">Javanese</option><option value="en|kn">Kannada</option><option value="en|km">Khmer</option><option value="en|lo">Lao</option><option value="en|la">Latin</option><option value="en|mi">Maori</option><option value="en|mr">Marathi</option><option value="en|mn">Mongolian</option><option value="en|ne">Nepali</option><option value="en|pa">Punjabi</option><option value="en|so">Somali</option><option value="en|ta">Tamil</option><option value="en|te">Telugu</option><option value="en|yo">Yoruba</option><option value="en|zu">Zulu</option></select><div id="google_translate_element2"></div>
<script type="text/javascript">
function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
</script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
<script type="text/javascript">
eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
</script>




 
            </li>
        </ul>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
        <p class="uppercase bold footer-title is-size-5">Social Media </p>
        <ul style="margin-top: -10%;" class="list-inline mt-4">
            <li class="list-inline-item"><a rel="nofollow" href="https://twitter.com/VoidDevs" target="_blank" title="twitter"><i class="fab fa-twitter twitter"></i></a></li>
        <li class="list-inline-item"><a rel="nofollow" href="https://vcodes.xyz/dc" target="_blank" title="discord"><i class="fab fa-discord discord"></i></a></li>
        <li class="list-inline-item"><a rel="nofollow" href="https://www.youtube.com/VoidDevs" target="_blank" title="youtube"><i class="fab fa-youtube youtube"></i></a></li>
        <li class="list-inline-item"><a rel="nofollow" href="https://www.instagram.com/VoidDevs" target="_blank" title="instagram"><i class="fab fa-instagram instagram"></i></a></li>
        <li class="list-inline-item"><a rel="nofollow" href="https://github.com/vcodes-xyz" target="_blank" title="github"><i class="fab fa-github github"></i></a></li>
        <li class="list-inline-item"><a rel="nofollow" href="https://www.patreon.com/voiddevelopment" target="_blank" title="patreon"><i class="fab fa-patreon patreon"></i></a></li>
          </ul>
    </div>
    </div>
  </div>

</section>
<section class="copyright">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12 pt-3">
           <div style="float: right;">
          <!-- <a href="/terms" class="footer-link">
            Terms of Use
          </a>&nbsp;&nbsp;<a href="/privacy" class="footer-link">
            Privacy Policy
          </a>-->
          <a href="mailto:support@vcodes.xyz" class="footer-link">
            support@vcodes.xyz
          </a>
          <span class="text-muted">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a href="https://github.com/vcodes-xyz/bot-list/blob/main/LICENSE" class="footer-link">
            MIT License
          </a>
        </div> 
        <div style="float: left;">
          <p class="text-muted"> Copyright <script>
            document.write(new Date().getFullYear());
          </script> &copy All rights reserved.
           </div>
       </div>
   </div>
</section>
<script src="./js/socket.js"></script>
<!-- FOOTEr -->

<script>
    console.log("%cBEKLE !!!","color: red; font-size: 60px");
    console.log("%cNe yaptığını bilmiyorsan burayı hemen kapat!","color: green; font-size: 20px");
</script>
<!-- SCRIPTS -->
<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
</style>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
          tippy('.tippy', {arrow: true,animation: 'scale',});
    </script>
</html>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
  lineNumbers: true,
  extraKeys: {"Ctrl-Space": "autocomplete"},
  mode: {name: "javascript", globalVars: true}
});

if (typeof Promise !== "undefined") {
  var comp = [
    ["here", "hither"],
    ["asynchronous", "nonsynchronous"],
    ["completion", "achievement", "conclusion", "culmination", "expirations"],
    ["hinting", "advise", "broach", "imply"],
    ["function","action"],
    ["provide", "add", "bring", "give"],
    ["synonyms", "equivalents"],
    ["words", "token"],
    ["each", "every"],
  ]

  function synonyms(cm, option) {
    return new Promise(function(accept) {
      setTimeout(function() {
        var cursor = cm.getCursor(), line = cm.getLine(cursor.line)
        var start = cursor.ch, end = cursor.ch
        while (start && /\w/.test(line.charAt(start - 1))) --start
        while (end < line.length && /\w/.test(line.charAt(end))) ++end
        var word = line.slice(start, end).toLowerCase()
        for (var i = 0; i < comp.length; i++) if (comp[i].indexOf(word) != -1)
          return accept({list: comp[i],
                         from: CodeMirror.Pos(cursor.line, start),
                         to: CodeMirror.Pos(cursor.line, end)})
        return accept(null)
      }, 100)
    })
  }

  var editor2 = CodeMirror.fromTextArea(document.getElementById("synonyms"), {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    lineNumbers: true,
    lineWrapping: true,
    mode: "text/x-markdown",
    hintOptions: {hint: synonyms}
  })
}
</script>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("commands"), {
  lineNumbers: true,
  extraKeys: {"Ctrl-Space": "autocomplete"},
  mode: {name: "javascript", globalVars: true}
});

if (typeof Promise !== "undefined") {
  var comp = [
    ["here", "hither"],
    ["asynchronous", "nonsynchronous"],
    ["completion", "achievement", "conclusion", "culmination", "expirations"],
    ["hinting", "advise", "broach", "imply"],
    ["function","action"],
    ["provide", "add", "bring", "give"],
    ["synonyms", "equivalents"],
    ["words", "token"],
    ["each", "every"],
  ]

  function synonyms(cm, option) {
    return new Promise(function(accept) {
      setTimeout(function() {
        var cursor = cm.getCursor(), line = cm.getLine(cursor.line)
        var start = cursor.ch, end = cursor.ch
        while (start && /\w/.test(line.charAt(start - 1))) --start
        while (end < line.length && /\w/.test(line.charAt(end))) ++end
        var word = line.slice(start, end).toLowerCase()
        for (var i = 0; i < comp.length; i++) if (comp[i].indexOf(word) != -1)
          return accept({list: comp[i],
                         from: CodeMirror.Pos(cursor.line, start),
                         to: CodeMirror.Pos(cursor.line, end)})
        return accept(null)
      }, 100)
    })
  }

  var editor2 = CodeMirror.fromTextArea(document.getElementById("synonyms"), {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    lineNumbers: true,
    lineWrapping: true,
    mode: "text/x-markdown",
    hintOptions: {hint: synonyms}
  })
}  
</script>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("main"), {
  lineNumbers: true,
  extraKeys: {"Ctrl-Space": "autocomplete"},
  mode: {name: "javascript", globalVars: true}
});

if (typeof Promise !== "undefined") {
  var comp = [
    ["here", "hither"],
    ["asynchronous", "nonsynchronous"],
    ["completion", "achievement", "conclusion", "culmination", "expirations"],
    ["hinting", "advise", "broach", "imply"],
    ["function","action"],
    ["provide", "add", "bring", "give"],
    ["synonyms", "equivalents"],
    ["words", "token"],
    ["each", "every"],
  ]

  function synonyms(cm, option) {
    return new Promise(function(accept) {
      setTimeout(function() {
        var cursor = cm.getCursor(), line = cm.getLine(cursor.line)
        var start = cursor.ch, end = cursor.ch
        while (start && /\w/.test(line.charAt(start - 1))) --start
        while (end < line.length && /\w/.test(line.charAt(end))) ++end
        var word = line.slice(start, end).toLowerCase()
        for (var i = 0; i < comp.length; i++) if (comp[i].indexOf(word) != -1)
          return accept({list: comp[i],
                         from: CodeMirror.Pos(cursor.line, start),
                         to: CodeMirror.Pos(cursor.line, end)})
        return accept(null)
      }, 100)
    })
  }

  var editor2 = CodeMirror.fromTextArea(document.getElementById("synonyms"), {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    lineNumbers: true,
    lineWrapping: true,
    mode: "text/x-markdown",
    hintOptions: {hint: synonyms}
  })
}  
</script>

<script>
$('.submenu .dropdown-menu .animate .slideIn a .dropdown-item').on('touchstart', function(e) {
    e.preventDefault();
    window.location.href = $(this).attr('href');
})
$('.dropdown-menu .submenu > a:not(a[href="#"])').on('click', function() {
    self.location = $(this).attr('href');
});
</script>

<script>
var editor = CodeMirror.fromTextArea(document.getElementById("komutlar"), {
  lineNumbers: true,
  extraKeys: {"Ctrl-Space": "autocomplete"},
  mode: {name: "javascript", globalVars: true}
});

if (typeof Promise !== "undefined") {
  var comp = [
    ["here", "hither"],
    ["asynchronous", "nonsynchronous"],
    ["completion", "achievement", "conclusion", "culmination", "expirations"],
    ["hinting", "advise", "broach", "imply"],
    ["function","action"],
    ["provide", "add", "bring", "give"],
    ["synonyms", "equivalents"],
    ["words", "token"],
    ["each", "every"],
  ]

  function synonyms(cm, option) {
    return new Promise(function(accept) {
      setTimeout(function() {
        var cursor = cm.getCursor(), line = cm.getLine(cursor.line)
        var start = cursor.ch, end = cursor.ch
        while (start && /\w/.test(line.charAt(start - 1))) --start
        while (end < line.length && /\w/.test(line.charAt(end))) ++end
        var word = line.slice(start, end).toLowerCase()
        for (var i = 0; i < comp.length; i++) if (comp[i].indexOf(word) != -1)
          return accept({list: comp[i],
                         from: CodeMirror.Pos(cursor.line, start),
                         to: CodeMirror.Pos(cursor.line, end)})
        return accept(null)
      }, 100)
    })
  }

  var editor2 = CodeMirror.fromTextArea(document.getElementById("synonyms"), {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    lineNumbers: true,
    lineWrapping: true,
    mode: "text/x-markdown",
    hintOptions: {hint: synonyms}
  })
}  
</script>
<script>
$('.dropdown-menu .submenu > a:not(a[href="#"])').on('click', function() {
    self.location = $(this).attr('href');
});
$(document).ready(function() {
	$.fn.dataTable.ext.classes.sPageButton = 'btn btn-discord-pagination';
  
  $('#tableData').DataTable({
    
    "language": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Page: _PAGE_/_PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results:  _MENU_",
    },
    "stripeClasses": [],
    "lengthMenu": [5, 10, 15, 20, 25, 30, 50, 100],
     "pageLength": 5,
  })
});
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
</div>
