<html lang="en">
<head>
<link rel="icon" href="../img/logo.png" type="image/x-icon" />
<link rel="shortcut icon" href="../img/logo.png"" type="image/x-icon" />
<link rel="stylesheet" href="../../css/bulma.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
<script data-ad-client="ca-pub-1947780170606123" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<meta name='dmca-site-verification' content='MW1CZHIrT0FpWGRWaVB0WVJXVFpjQT090' />
<script data-ad-client="ca-pub-1947780170606123" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../css/style.css">
<script src="../../js/style.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://codemirror.net/addon/hint/show-hint.css">
<script src="https://codemirror.net/lib/codemirror.js"></script>
<script src="https://codemirror.net/addon/hint/show-hint.js"></script>
<script src="https://codemirror.net/addon/hint/javascript-hint.js"></script>
<script src="https://codemirror.net/mode/javascript/javascript.js"></script>
<script src="https://codemirror.net/mode/markdown/markdown.js"></script>
<script src="https://wmcmurray.github.io/just-detect-adblock/bundle.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
<div id="loader-wrapper">
    <center>
    <div class="preloader">
    <div id="loader" class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>
    </div>
    </center>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    
</div>
<body id="content">
<nav class="navbar navbar-expand-sm navbar-dark bg-vcodes">
    <div class="container"><a class="navbar-brand" href="/">
        <strong class="h6 mb-0 font-weight-bold text-uppercase"><img class="vcodes-logo-nav" src="../../img/logo.png""></strong></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a title="vCodes" class="nav-link" href="/"><i class="fad fa-home"></i>&nbsp;Home</a></li>
                <li class="nav-item active"><a title="vCodes" class="nav-link" href="/bots"><i class="fad fa-robot"></i>&nbsp;Bots</a></li>
                <li class="nav-item active"><a title="vCodes" class="nav-link" href="/partners"><i class="fad fa-handshake"></i>&nbsp;Partners</a></li>
                <li class="nav-item active"><a title="vCodes" class="nav-link" href="/team"><i class="fad fa-users"></i>&nbsp;Team</a></li>

                <% if(user) {%>
                <% if (bot.guilds.cache.get(config.serverID).members.cache.get(user.id)) {%>
                    <% if (bot.guilds.cache.get(config.serverID).members.cache.get(user.id).roles.cache.get(roles.yonetici) || bot.guilds.cache.get(config.serverID).members.cache.get(user.id).roles.cache.get(roles.moderator)) { %>
                        <li class="nav-item active"><a class="nav-link" title="vCodes" href="/admin"><i class="fad fa-hammer"></i>&nbsp;Admin Panel</a></li>
                    <% } %>
                    <% } %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle has-text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img width="32" class="profile-image" style="border-radius: 50%" src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>" translate="no"> <%= user.username %>
                        </a>
                        <div title="vCodes" class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
                          <a title="vCodes" class="dropdown-item" href="/user/<%=user.id%>"><i class="fad fa-user"></i>&nbsp;Profile</a>
                          <a title="vCodes" class="dropdown-item" href="/certification"><i class="fad fa-badge-check"></i>&nbsp;Certification</a>
                          <a title="vCodes" class="dropdown-item" href="/addbot"><i class="fad fa-paper-plane"></i>&nbsp;Submit Bot</a>
                          <a title="vCodes" class="dropdown-item" href="/codes"><i class="fad fa-code"></i>&nbsp;Code Share</a>
                          <a translate="no" title="vCodes" class="dropdown-item" href="/uptime/links"><i class="fad fa-sync-alt"></i>&nbsp;Uptime Links</a>
                          <div class="dropdown-divider"></div>
                          <a title="vCodes" class="dropdown-item" href="/logout"><i class="fad fa-sign-out"></i>&nbsp;Logout</a>
                        </div>
                      </li>
                <% } else {%>
                    <li class="nav-item active"><a class="nav-link" title="vCodes" href="/login"><i class="fad fa-sign-in"></i>&nbsp;Login</a></li>
                <% } %>           
            </ul>
        </div>
    </div>
</nav>