<section class="jumbotron vcodes">
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
       <span class="icon-section" style="margin-top: -5%;float: right;">
        <img  draggable="false" style="z-index: -1!important;" src="../img/logo.png" width="320" alt="Discord Bots | Discord Bot List">
        </span>
        <h1 class="has-text-white title" style="font-weight: 800;">vCodes</h1>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;" id="typeText"></p>
          <form action="/search">
              <input style="background-color: #2c2f33;" id="searchbar"  name="q" onkeyup="search_bot()" type="text"
              name="search" autocomplete="off" onfocus="if (!window.__cfRLUnblockHandlers) return false; $('.searchArea').show()" id="search" style="font-family: Arial, FontAwesome; z-index: 999999999; width: 470px;" class="z mainInput searchIcon isMobile" type="text" placeholder="Search bots..." data-cf-modified-510f8a7e40ac29a46d013099-="">
              <input type="hidden" name="page" value="1">
            </form>
        <div class="home-tags">
          <a translate="no" style="margin: 5px;" title="vCodes" href="/tag/Moderation" class="btn btn-tag"><i class="fa fa-magic"></i>&nbsp;Moderation</a>
          <a translate="no" style="margin: 5px;" title="vCodes" href="/tag/Fun" class="btn btn-tag"><i class="fa fa-smile"></i>&nbsp;Fun</a>
          <a translate="no" style="margin: 5px;" title="vCodes" href="/tag/NSFW" class="btn btn-tag"><i class="fa fa-lips"></i>&nbsp;NSFW</a>
          <a translate="no" style="margin: 5px;" title="vCodes" href="/tag/Utility" class="btn btn-tag"><i class="fa fa-cogs"></i>&nbsp;Utility</a>
          <a style="margin: 5px;" title="vCodes" href="/tags" class="btn btn-tag"><i class="fa fa-tags"></i>&nbsp;Explore Tags</a>
        </div>
      </div>
    </div>
</div>
</section>