
<section class="jumbotron vcodes">
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
       <span class="icon-section" style="margin-top: -5%;float: right;">
        <img  draggable="false" style="z-index: -1!important;" src="../img/logo.png" width="320" alt="Discord Bots | Discord Bot List">
        </span>
        <h1 class="has-text-white title" style="font-weight: 800;">vCodes</h1>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Don't you want to expand and improve your Discord bot? Here vCodes are here for you!</p>
        
            <div>
              <div class="z mt-2">
                <form action="/search">
                  <input name="q" autocomplete="off" id="search" class="z mainInput searchIcon isMobile"  style="background-color: #2c2f33!important;" type="text"  placeholder="Search bots...">
                  <input type="hidden" name="page" value="1">
                </form>
          <a translate="no" title="vCodes" href="/tag/Moderation" class="btn btn-tag"><i class="fa fa-magic"></i>&nbsp;Moderation</a>
          <a translate="no" title="vCodes" href="/tag/Fun" class="btn btn-tag"><i class="fa fa-smile"></i>&nbsp;Fun</a>
          <a translate="no" title="vCodes" href="/tag/NSFW" class="btn btn-tag"><i class="fa fa-lips"></i>&nbsp;NSFW</a>
          <a translate="no" title="vCodes" href="/tag/Utility" class="btn btn-tag"><i class="fa fa-cogs"></i>&nbsp;Utility</a>
          <a title="vCodes" href="/tags" class="btn btn-tag"><i class="fa fa-tags"></i>&nbsp;Explore Tags</a>
              </div>
      </div>
    </div>
</div>
</section>



</div>
