<%- include('static/head.ejs', { bot,user,path}) %>
<div id="content" class="main-content">
    <br><br><br><br><br><br>
    <div class="container">


    <form method="POST">
     

        <div class="form-row mb-4">
            <div class="form-group col-md-4">
                <label for="inputEmail4">Code Name<span style="color:red">*</span></label>
                <input type="text" class="form-control" id="codename" name="codename" placeholder="" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Code Description<span style="color:red">*</span></label>
                <input type="text" class="form-control" id="codedesc" name="codedesc" maxlength="100" placeholder="" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Code Category<span style="color:red">*</span></label>
                <select id="category" name="category" class="form-control" required>
                    <option value="Javascript">Javascript</option>
                    <option value="BDFD">BDFD</option>
                    <option value="Substructure">Substructure</option>
                    <option value="HTML">HTML</option>
                    <option value="5invites">5 Invites</option>
                    <option value="10invites">10 Invites</option>
                    <option value="15invites">15 Invites</option>
                    <option value="20invites">20 Invites</option>
                </select>
            </div>
         </div>
        <div class="form-group mb-4">
            <label for="inputAddress">Main (Optional)</label>
            <textarea type="text" class="form-control" id="main" name="main"></textarea>
        </div>
         <div class="form-group">
            <label for="inputEmail4">Command (Optional)</label>
            <textarea type="text" class="form-control" id="commands" name="commands"></textarea>
        </div>
      <button type="submit" class="btn btn-primary mt-3"><i class="fa fa-save"></i> Submit</button>
    </form>
</div>
</div></div>
<%- include('static/foot.ejs', { bot,user,path}) %>