<%- include('static/head.ejs', { bot,user,path}) %>
<div id="content" class="main-content">
    <br><br><br><br><br><br>
    <div class="container">
    <form method="POST">

        <div class="form-group mb-4">
            <label for="formGroupExampleInput">Reason</label>
            <input type="text" class="form-control" id="reason" name="reason" placeholder="Bla bla bla" required>
        </div>
        <input type="submit" name="time" class="btn btn-primary" value="Submit">
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<script>
    var urlParams = new URLSearchParams(window.location.search);
if(urlParams.has('success') && urlParams.get('success')){
Swal.fire({
 icon: 'success',
 title: 'Succesfull...',
 closeOnConfirm: false,
 text: urlParams.get('message'),
 footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
}).then((result) => {
if (result.isConfirmed) {
window.location.href = '/admin/certified-bots';
}
})
}
if(urlParams.has('error') && urlParams.get('error')){
Swal.fire({
 icon: 'error',
 title: 'Oops...',
 text: urlParams.get('message'),
 footer: 'Copyright 2021 &copy vCodes.xyz - All right reserved.'
}).then((result) => {
if (result.isConfirmed) {
window.location.href = '/admin/certified-bots';
}    
})
}
</script>
</div></div>
<%- include('static/foot.ejs', { bot,user,path}) %>