<%- include('../../parts/head', {bot, user, path}) %>
<br><br><br><br>
<div class="container">
  <center>
  <i style="color: #fff;" class="fad fa-wind-warning fa-5x"></i>
  </center>
  <br><br>
  <form method="POST" class="form-discorddark">
  <div class="form-group">
    <label for="komutlar">Write a reason.</label>
    <textarea type="text" class="form-control" id="sebep" name="sebep" required></textarea>
  </div>
  <button type="submit" class="btn btn-danger">Report</button>
</form>
</div>
<br><br><br><br><br><br>
<%- include('../../parts/foot') %>
